<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.homein.homeinproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu.MyInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu.NoticeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu.InformationRuleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu.ServiceInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu.VersionInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeIn.PeopleItemDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|adjustPan" />
        <activity
            android:name=".Company.CompanyDetailItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Company.CompanyInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".search.SearchTagActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User.WishListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Estimate.MyEstimateListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Posting.PostingDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Estimate.MyEstimateDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeIn.AddPeopleImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBAF86YQhQ6bSwl0mdGki7FYO6skpi7nDw" />

        <activity
            android:name=".Maps.CompanyMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User.WishListActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Estimate.EstimateRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Estimate.EstimateRequestActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Estimate.EstimateRequestActivity3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Estimate.EstimateRequestActivity4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Estimate.EstimateRequestActivity5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Estimate.GalleryChoiceActivity" />
        <activity android:name=".Estimate.EstimateRequestActivity2_1" />
        <activity android:name=".Maps.HomeInMapActivity"></activity>
    </application>

</manifest>
